@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000; /* Black background */
  font-size: 16px; /* Base font size */
}

@media (min-width: 640px) {
  body {
    font-size: 18px; /* Larger base font size for larger screens */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

.animate-meteor {
  animation: meteor linear;
}

.bg-custom {
  background-color: #1636c4; /* Dark purple for UI elements */
}

.text-custom {
  color: #FFFFFF; /* White text for better contrast */
}

.button-custom {
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #6A5ACD; /* Lighter purple for buttons */
  color: #FFFFFF; /* White text for buttons */
}

.button-custom:hover {
  background-color: #8A2BE2; /* Even lighter purple on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}
