.customScrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.customScrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.customScrollbar:hover {
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.customScrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
